#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }



h1{
    text-align: center;
    color:violet ;
    margin: 10px;
    font-variant: small-caps;
    position: relative;
    margin-bottom: 50px;
}

p
{
    color: white;
    text-align: justify;
    text-transform: capitalize;
    
}

h4
{
   color: darkorange;
}

h5
{
    color:plum;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25PX;
}
ol
{
    color: greenyellow;
}
  
img
{
    height: 75%;
    width: 70%;
}

img:focus
{
    height: 85%;
    width: 85%;
    border: groove burlywood 10px;
}

img:hover
{
    height: 85%;
    width: 85%;
    border: solid rgb(0, 255, 229) 5px;
}
img:active
{
    border: dotted orange 8px;
}







figcaption
{
    color: yellow;
    text-transform: uppercase;
    margin-top: 8%;
    position: relative;
    
}

figcaption:hover
{
    color: blue;
    background-color: white;
    height: 40px;
    width: 120px;
    text-decoration: underline;
    
}




h3
{
    color: cyan;
    font-size: x-large;
}

#HTML
{
    display: grid ;
    grid-template-columns:  237PX 237PX 237PX 237PX ;
    margin: 9px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

}

#CSS
{
    display: grid;
    grid-template-columns:   237PX 237PX 237PX 237PX;
    margin: 9px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

#JAVASCRIPT
{
    
        display: grid;
        grid-template-columns:   237PX 237PX 237PX 237PX;
        margin: 9px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
    
}

#PHP
{
    display: grid;
    grid-template-columns:   237PX 237PX 237PX 237PX;
    margin: 9px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer
{
    color: goldenrod;
}

@media (max-width: 750px){
    body 
    {
        width: 100vh ;

    }

}

    
